* {
  box-sizing: border-box;
}
  a:link {color:yellow; background-color:transparent; text-decoration:none}
  a:visited {color:black; background-color:transparent; text-decoration:none}
  a:hover {color:red; background-color:transparent; text-decoration:underline}
  a:active {color:green; background-color:transparent; text-decoration:underline}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color:gray;
}

/* Style the header */
header {
  background-color:#5b92e5;
  padding: 2px;
  text-align: center;
  font-size: 1.8em;
  color: green;   
}

.logo{
  background-image: url('recycling_image_trans.png');
  background-position:3%;
  background-size:100px;
  background-repeat:no-repeat;
  height:14vh;
}

/* Create two columns/boxes that floats next to each other */
nav {
  float: left;
  width: 20%;
  height: 100vh; /* only for demonstration, should be removed */
  background: green;
  padding: 20px 20px 0px 10px;
  text-align: left;
  font-size: 1em; 
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}

peli {
  position:relative;
  padding: 10px;
  float: left;
  width: 80%; /* only for demonstration, should be removed */
  height: 100vh; 
}

/* Clear floats after the columns */
section::after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
footer {
  background-color: #5b92e5;
  padding: 10px;
  text-align: center;
  color: white;
  height:10vh;
}

   /* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
   /* max width 500px*/

   /* (max-width: 500px) */

   @media (max-width: 500px) {
    
    .grid-nappulat-container { max-height: 200px;overflow: hidden;
     max-width: 150px;overflow: hidden;padding:150px 0px 0px 0px;}
     .grid-pontot-container{position:absolute;top:80vh;left:9vw;}
    
    #jateteksti{font-size: 0.5em;font-weight:bold;
    padding:0px 0px 0px 0px;}
   
    .pallo{
    max-width: 0.7em;max-height: 0.7em;
    }

    nav{
      text-align: center;
      font-size: 1em;
      width: 100%;
      height:20vh;
    }

    .logo{
      background-image: url('recycling_image_trans.png');
      background-position:3%;
      background-size: 60px;
      background-repeat:no-repeat;
    }
   
    header{
      font-size: 1.2em;
    }

  peli{
    width:100%;
    
  }

  .droptarget0{width:40px;}
  .droptarget1{width:40px;}
  .droptarget2{width:40px;}
  .droptarget3{width:40px;}
  .droptarget4{width:40px;}
  .droptarget5{width:40px;}
  .droptarget6{width:40px;}
    
  }
/* -----------------------------------------------------------------------------------------------*/
   
/*  (min-width: 501px) and (max-width: 749px)*/

   @media (min-width: 501px) and (max-width: 749px) {
    .grid-nappulat-container { max-height: 200px;overflow: hidden;
     max-width: 150px;overflow: hidden;padding:150px 0px 0px 0px;
    }
    .grid-pontot-container{position:absolute;top:75vh;left:9vw;}

    .logo{
      background-image: url('recycling_image_trans.png');
      background-position:3%;
      background-size: 80px;
      background-repeat:no-repeat;
    }

    #jateteksti{font-size: 0.5em;font-weight:bold;
    padding:0px 0px 0px 0px;}

    nav{
      text-align: center;
      font-size: 1em;
      height:20vh;
      width:100%;
      
    }
    peli{
      width:100%;
      
    }
   

    header{
      font-size: 1.5em;
      
    }
   
   .pallo{
    max-width: 0.7em;max-height: 0.7em;
    }

  

  .droptarget0{width:60px;}
  .droptarget1{width:60px;}
  .droptarget2{width:60px;}
  .droptarget3{width:60px;}
  .droptarget4{width:60px;}
  .droptarget5{width:60px;}
  .droptarget6{width:60px;}
    
  }
/* -----------------------------------------------------------------------------------------------*/

 /* (min-width: 1151px)*/

 /* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
 @media (min-width: 953px) {
  .grid-nappulat-container { grid-template-columns: repeat(5, 1fr); }
  
  .grid-keskusta{min-height:38%;}

  .grid-pontot-container{position:absolute;top:72vh;left:9vw;}

  .grid-valot-container{width:80%;}
  #jateteksti{font-size: 1em;font-weight:bold;
    padding:0px 0px 0px 0px;}

    .droptarget0{width:70px;}
    .droptarget1{width:70px;}
    .droptarget2{width:70px;}
    .droptarget3{width:70px;}
    .droptarget4{width:70px;}
    .droptarget5{width:70px;}
    .droptarget6{width:70px;}
  
  header{
    font-size: 1.5em;
    height:17vh;
  }}

  /* -----------------------------------------------------------------------------------------------*/

  @media (min-width: 750px) and (max-width: 952px) {
  .grid-nappulat-container { grid-template-columns: repeat(3, 1fr);
   }

   .grid-pontot-container{position:absolute;top:72vh;left:9vw;}

   .logo{
    min-height:17vh;
   }

   
   .pallo{
    max-width: 0.7em;max-height: 0.7em;
    }
   header{
    font-size: 1.8em;
    
  }
  
  .droptarget0{width:70px;}
  .droptarget1{width:70px;}
  .droptarget2{width:70px;}
  .droptarget3{width:70px;}
  .droptarget4{width:70px;}
  .droptarget5{width:70px;}
  .droptarget6{width:70px;}
  #jateteksti{font-size: 0.7em;font-weight: bold;
    padding:0px 0px 0px 0px;}
  }
/* -----------------------------------------------------------------------------------------------*/

/*(min-width: 953px) and (max-width: 1150px)*/

  

 /* -----------------------------------------------------------------------------------------------*/

#jateteksti{
    color:black;
    font-size: em;
    margin-block-start: 0px;
    margin-block-end: 0px;
    display:block;
}

h2{
  font-size:1.3em;
}
.droptarget0 {
    
  min-width: 0px;
  min-height: 0px;
  margin: 0 auto;
   
}
.droptarget1 {
    
  min-width: 0px;
  min-height: 0px; 
  margin: 0 auto;
}
.droptarget2 {
    
  min-width: 0px;
  min-height: 0px;
  margin: 0 auto;
}
.droptarget3 {
    
  min-width: 0px;
  min-height: 0px; 
  margin: 0 auto; 
}
.droptarget4 {
    
  min-width: 0px;
  min-height: 0px;  
  margin: 0 auto;
}
.droptarget5 {
    
  min-width: 0px;
  min-height: 0px;  
  margin: 0 auto; 
}

.droptarget6 {
    
  min-width: 0px;
  min-height: 0px;  
  margin: 0 auto; 
}

.grid-nappulat-container{
  display: grid; 
  width:80%;   
  height:250px;             
  margin: auto;     
  justify-content: center;
  align-items: center;            
}


.grid-pontot-container{
       
  width:80%;
  height:auto; 
  margin: auto;
  display: grid;      
  grid-template-columns: auto auto auto auto auto auto auto;
  align-items:center;     
  grid-row-gap: 0px;
  grid-column-gap: 10px;
  justify-content:center; 
  text-align: center; 
  
  
  
  
  
}

.grid-valot-container{
  width:50%;      
  display: grid;      
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;         
  background-color: transparent;
  grid-gap: 3.4%;
  border-radius: 6px;
  align-items: center;
  justify-content: center;
  margin:0% 0% 0% 23%;   
  position:absolute;
  top:93vh;
      
}

.mydiv {
  display: flex;  
  width: 130px;
  height: 40px;
  border: 2px solid darkgreen;
  background-color: lightyellow;      
  font-size:11px;  
  box-sizing: border-box;   
  justify-content: center;
  align-items: center;
  text-align:center; 
  margin:10px;
  border-radius: 6px;  
  
}
    
.pallo {
  border: 1px solid black;
  background:yellow;
  border-radius: 50%;
  width: 13px; 
  height: 13px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;    
}

#clickMe{
  margin: 0;
  position: absolute;
  top: 90%;
  left:43%;
  font-size: 1em;
  border-radius: 6px;
  font-weight: bold;
}
